{{> header}}
<section id="register">
    <div class="color">
        <div class="register-form">
            <h1>Register</h1>
            <form action="/register" method="POST" id="register-form">
                <label for="email">Email</label>
                <input type="text" name="email">
                <label for="password">Password</label>
                <input type="password" name="password">
                <label for="repeat-password">Repeat Password</label>
                <input type="password" name="repeatPassword">
                <span style="display: none; color: red; margin-top: 2px" id="register-notification">Passwords should match!</span>
                <button id="register-button">Submit</button>
                <a href="/login" class="option">Already have an account?</a>
            </form>
        </div>
    </div>
</section>