<nav>
    <div class="left-container">
        <ul>
            {{#if user}}
                <li><a href="/home">Home</a></li>
                <li><a href="/destinations">Destinations</a></li>
                <li><a href="/create">Add +</a></li>
            {{else}}
                <li><a href="/home">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
            {{/if}}

        </ul>
    </div>
    <div class="right-container">
        {{#if user}}
            <span>Welcome, {{user.email}} |</span>
            <a href="/home" id="logout" class="log-out">Logout</a>
        {{/if}}
    </div>
</nav>