{{> header}}
{{> notifications}}
<section id="viewLogin">
    <h2>Login to your account:</h2>
    <form id="formLogin">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" placeholder="Enter your Email">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Enter your Password">
        <input type="submit" id="login-button" class="login" value="Login">
    </form>
</section>
{{> footer}}