{{#if error}}
<div>
    <div class="notification loadingBox">
        Loading …
    </div>
    <div class="notification infoBox">
        <span>Info</span>
    </div>
    <div class="notification errorBox">
        <span>{{error.message}}</span>
    </div>
</div>
{{/if}}